$orange: #ffff00;
$boldColor: #f26922;
$primaryColor: #1d6472;
$SelectedColor: #30395b;
$NavbarTextColor: #ffffff;
$TableTitleBlackColor: #d0d0d0;
$TableBlackColor: #ececec;
$placeholder: #33333357;
$black: #333333;
$gray-hover: #e9e9e9;
$dark-charcoal: #333333;
$warning-red: #ff0000;
$light-orange: #ff7a00;
$navy-blue: #005177;
$dark-grey: #5f5f5f;
$footerbgcolor: #4e4e4e;
$blacktext: #000000;
$addexeviewbg: #f6f6f6;
$slotcolor: #2b8e46;
$grblue: #394c90;
$grgreen: #27d3e0;
$dark-blue: #3668a1;
$lightGrey: #d7d7d7;
$gainsboro: #dcdcdc;
$white: #ffffff;
$off-white: #f5f5f5;
$BannerHeader:#f0db4f;
$BannerHeaderText:#0d73c5;
